src/WebApi2Book.Windows.Legacy.Client/Service References/TaskServiceReference/TeamTaskService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTasks">
        <s:complexType />
      </s:element>
      <s:element name="GetTasksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTasksResult" type="tns:ArrayOfTask" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTask">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Task" nillable="true" type="tns:Task" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Task">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TaskId" nillable="true" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DueDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CompletedDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <s:element minOccurs="0" maxOccurs="1" name="Assignees" type="tns:ArrayOfUser" />
          <s:element minOccurs="0" maxOccurs="1" name="Links" type="tns:ArrayOfLink" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Status">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ordinal" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Links" type="tns:ArrayOfLink" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLink">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Link" nillable="true" type="tns:Link" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Link">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Rel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Href" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Method" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firstname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Links" type="tns:ArrayOfLink" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTaskById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="taskId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaskByIdResult" type="tns:Task" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTasksSoapIn">
    <wsdl:part name="parameters" element="tns:GetTasks" />
  </wsdl:message>
  <wsdl:message name="GetTasksSoapOut">
    <wsdl:part name="parameters" element="tns:GetTasksResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaskById" />
  </wsdl:message>
  <wsdl:message name="GetTaskByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaskByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="TeamTaskServiceSoap">
    <wsdl:operation name="GetTasks">
      <wsdl:input message="tns:GetTasksSoapIn" />
      <wsdl:output message="tns:GetTasksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskById">
      <wsdl:input message="tns:GetTaskByIdSoapIn" />
      <wsdl:output message="tns:GetTaskByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TeamTaskServiceSoap" type="tns:TeamTaskServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTasks">
      <soap:operation soapAction="http://tempuri.org/GetTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskById">
      <soap:operation soapAction="http://tempuri.org/GetTaskById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TeamTaskServiceSoap12" type="tns:TeamTaskServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTasks">
      <soap12:operation soapAction="http://tempuri.org/GetTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskById">
      <soap12:operation soapAction="http://tempuri.org/GetTaskById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeamTaskService">
    <wsdl:port name="TeamTaskServiceSoap" binding="tns:TeamTaskServiceSoap">
      <soap:address location="http://localhost:62965/TeamTaskService.asmx" />
    </wsdl:port>
    <wsdl:port name="TeamTaskServiceSoap12" binding="tns:TeamTaskServiceSoap12">
      <soap12:address location="http://localhost:62965/TeamTaskService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>